
.searchForm {
    margin: -18px auto 5px auto; ;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .searchInput {
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 180px;
  }
  
  .searchButton {
    background-color: #2563eb;
    color: white;
    border: none;
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  
    &:hover {
      background-color: #1e40af;
    }
  }
  .bottomStripe {
  width: 100vw; 
  height: 1px; 
  background-color: #e5e7eb; 
  margin-top: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

